.manage-page {
  .table-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .btn-group {
      width: fit-content;
      display: flex;
      gap: 8px;
      align-items: center;
      align-self: end;
    }
  }
}
